.popup__card-title {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 14.52px;
	margin-top: 10px;
}

@media screen and (max-width: 950px) {
	.popup-card__title {
		font-size: 12px;
		line-height: 14.52px;
	}
}