# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
.vscode

# Do not save folders with logs to github
*.log