.popup__close-icon {
	width: 32px;
	height: 32px;
	position: absolute;
	right: -40px;
	top: -40px;
	opacity: 1;
	transition: opacity 0.2s linear 0.1s;
	background: none;
	background-size: 32px 32px;
	background-image: url(../../../images/Close_Icon.png);
	border: none;
	padding: 0;
}

.popup__close-icon:hover {
	opacity: 0.6;
	cursor: pointer;
}

@media screen and (max-width: 950px) {
	.popup__close-icon {
		right: 0px;
		top: -36px;
		width: 20px;
		height: 20px;
		background-size: 20px 20px;
	}
}