.profile {
  padding: 40px 0 51px;
  display: grid;
  grid-template-columns: 120px minmax(350px, 549px) 150px;
  grid-column-gap: 30px;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 950px) {
  .profile {
    padding: 42px 0 36px;
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
  }
}
