.authorization__input {
  color: #fff;
  box-sizing: border-box;
  border: none;
  border-bottom: #CCCCCC 2px solid;
  background-color: #000;
  width: 358px;
  height: 27px;
  padding: 0;
  margin: 30px 0 0;
}